
.view-content {
  font-family: 'Courier New', monospace !important;
}
*/

.markdown-source-view {
  font-family: 'Ubuntu', Menlo, Monaco, 'Courier New', monospace !important;
}

.markdown-preview-view {
  font-family: Ubuntu, Lora, sans-serif !important;
}
