/* hides "Properties" title, also hides dropdown */
.metadata-properties-heading {
  display: none;
}

.metadata-properties, .metadata-properties *, .metadata-add-button, .metadata-properties-heading {
  font-family: var(--font-monospace), "azeret mono", "space mono", "jetbrains mono";
  --metadata-label-font-size: 11px;
  --metadata-input-font-size: 11px;
}

/*.metadata-property[data-property-key="status"] {*/
    background: green; 
    color: black;
}

body {
  --metadata-label-font-weight: 500;
  --metadata-label-text-color: #bdeec;
  --metadata-gap: 0;
  --metadata-padding: 0 0 .24rem 0;
  --metadata-label-width: max(22.5%, 8rem);
  --metadata-input-height: calc(var(--metadata-label-font-size) * 2.1);
}

.metadata-property-key .metadata-property-icon {
  --icon-color: #bdeec;
  --icon-size: 1rem;
}

.metadata-container {
  border-bottom: dashed .2rem var(--background-modifier-border);
  margin-bottom: 1.3rem;
  /* for minimal theme */
  --input-height: var(--metadata-input-height);
}
